body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.statusBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.statusBar h4 {
    margin: 143%;
}

#columnView{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tanica{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#data {
    font-size: 1.5em;
    color: #007bff;
}
